:root {
    --app-bg-color: #474747;
    --element-bg-color: #252525;
}

body {
    background-color: var(--app-bg-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--element-bg-color);
    color: white;
    border-radius: 5px;
    border-style: none;
    padding-top: 6.9px;
    padding-bottom: 6.9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.5s;
    outline: none!important;
}

button:hover {
    color: grey;
}

model-viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.35);
    background-color: var(--element-bg-color);
    border-radius: 50px;
    width: 1000px;
    height: 1000px;
}

#viewscreen {
    height: 100vh;
}

#controlpanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(200px);
    width: 350px;
}

#selectpanel {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

#wall {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: 1s;
}

#libraryselect {
    background-color: var(--app-bg-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    overflow: auto;
    display: none;
    transition: 1s;
}

.libraryThumb {
    cursor: pointer;
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    border-radius: 3.5vw;
    transition: 1s;
    background-color: var(--element-bg-color);
}