:root {
    --app-bg-color: #474747;
    --element-bg-color: #252525;
}

body {
    background-color: var(--app-bg-color);
    margin: 0;
}

button {
    background-color: var(--element-bg-color);
    color: white;
    border-radius: 5px;
    border-style: none;
    padding-top: 6.9px;
    padding-bottom: 6.9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.5s;
    outline: none!important;
}

button:hover {
    color: grey;
}

model-viewer {
    background-color: var(--element-bg-color);
    border-radius: 16.9px;
}

#viewscreen {
    height: 100vh;
    margin-top: 5vw;
}